#root {
  max-width: 1280px;
  max-height: 1100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.beyblade-animation {
  width: 100px;
  animation: logo-spin infinite 2s linear;
} */
